@model HMS.Areas.Dashboard.ViewModels.AccomodationPackagesActionViewModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="actionModalLabel">
                @if (Model.Id > 0)
                {
                    <span>Edit Accomodatioan Package</span>
                }
                else
                {
                    <span>Create Accomodation Package</span>
                }
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> 
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="Enter Accomodation Package Name" />
                </div>

                <div class="form-group">
                    <label>Accomodation Type</label>
                    <select class="form-control" name="AccomodationTypeId">
                        @if(Model.AccomodationTypes != null)
                        {
                            foreach(var accomodationType in Model.AccomodationTypes)
                            {
                                <option value="@accomodationType.Id" @(accomodationType.Id == Model.AccomodationTypeId ? "selected" : string.Empty)>
                                    @accomodationType.Name
                                </option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>No. of Rooms</label>
                    <input type="text" class="form-control" name="NoOfRoom" value="@Model.NoOfRoom" placeholder="Enter number of Rooms" />
                </div>

                <div class="form-group">
                    <label>Fee per Night</label>
                    <input type="text" class="form-control" name="FeePerNight" value="@Model.FeePerNight" placeholder="Enter fee per Night" />
                </div>
            </form>
            <div class="errorDiv text-danger">

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="actionButton"><i class="fas fa-save mr-1"></i> Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</button>
        </div>
    </div>
}

<script>
    $("#actionButton").click(function () {
        $.ajax({
            url: '@Url.Action("Action", "AccomodationPackages")',
            type: "post",
            data: $("#actionForm").serialize()
        }).done(function (response) {
            if (response.Success) {
                location.reload();
            }
            else {
                $(".errorDiv").html(response.Message)
            }
        });
    });
</script>